body { 
    color: rgba(201, 168, 126, 0.938);
    background:rgba(0, 0, 0, 0.404);
    margin: 0px;
    font-family: "Merienda", cursive;
    margin-bottom: 100px;
}

header { 
    border-bottom: solid 2px rgb(179, 153, 115);
    padding: 20px;
    font-size: 32px;
    color: rgb(209, 177, 109);
}

.chamada { 
    background: rgb(159, 207, 195);
    padding-bottom: 80px;
    padding-top: 8-px;
    display: flex;
    justify-content: center;
}

. chamada-texto { 
    margin-right: 5%;
}

h1 { 
    font-size: 40px;
}

p {
    font-size 20px;
}

.categoria-videos { 
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria { 
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

